Repository almatkai/woolet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: migrate_database, lint_api, test_api, build_api, lint_web, test_web, build_web

migrate_database:
  stage: migrate
  script:
  - bun run db:migrate --filter=@woolet/api
  environment:
    name: production

lint_api:
  stage: lint
  script:
  - bun run lint --filter=@woolet/api

test_api:
  stage: test
  script:
  - bun run test --filter=@woolet/api

build_api:
  stage: build
  script:
  - bun run build --filter=@woolet/api
  artifacts:
    paths:
    - apps/api/dist/
    expire_in: 1 week

lint_web:
  stage: lint
  script:
  - bun run lint --filter=@woolet/web

test_web:
  stage: test
  script:
  - bun run test --filter=@woolet/web

build_web:
  stage: build
  script:
  - bun run build --filter=@woolet/web
  artifacts:
    paths:
    - apps/web/dist/
    expire_in: 1 week

chore: Fix RUN useradd -m -s /bin/bash woolet-api
  .github/workflows/deploy.yml
  apps/api/Dockerfile
  bun.lock
  package.json
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

refactor: Update Dockerfiles to include all workspace package.json files for lockfile validation
  apps/api/Dockerfile
  apps/landing/Dockerfile
  apps/web/Dockerfile
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

fix: Import UserProfile from @clerk/clerk-react for user data handling
  apps/web/src/components/app-sidebar.tsx
Due: lint_web, test_web, build_web

refactor: Simplify Dockerfile by copying all files from install stage
  apps/api/Dockerfile
Due: lint_api, test_api, build_api

chore: Add environment variable for SSH private key in deployment workflow
  .github/workflows/deploy.yml
Due: none

ci: Add SSH_PRIVATE_KEY environment to the deploy job.
  .github/workflows/deploy.yml
Due: none

fix: Enable debug mode for SSH deployment step
  .github/workflows/deploy.yml
Due: none

ci: Enable debug mode for the deploy workflow's SSH action.
  .github/workflows/deploy.yml
  deploy.sh
Due: none

fix: Increase command timeout for SSH deployment script
  .github/workflows/deploy.yml
Due: none

feat: Set up Docker Buildx and enable caching for build and push step
  .github/workflows/deploy.yml
Due: none

feat: Add Docker Buildx setup and enable GitHub Actions cache for container image builds.
  .github/workflows/deploy.yml
  deploy.sh
Due: none

chore: Update port mappings and domain configuration in Docker Compose files for monitoring and production environments
  docker-compose.monitoring.yml
  docker-compose.prod.yml
Due: none

feat: Add build-time environment variables and improve deployment script for database readiness
  .github/workflows/deploy.yml
  apps/web/Dockerfile
  deploy.sh
Due: lint_web, test_web, build_web

feat: adjust Dockerfile working directory to `/app` for simplified path management
  apps/api/Dockerfile
  apps/api/src/index.ts
  apps/landing/src/components/CTA.astro
  apps/landing/src/components/Hero.astro
  apps/landing/src/components/HeroNew.astro
  apps/landing/src/components/HowItWorks.astro
  apps/landing/src/components/Navbar.astro
  apps/landing/src/components/react/HeroBackground.tsx
  apps/landing/src/components/react/PricingCards.tsx
  apps/landing/src/components/react/WritingText.tsx
  apps/landing/src/layouts/Layout.astro
  apps/landing/src/pages/index.astro
Due: lint_api, test_api, build_api

feat: update migration folder path and add nginx configuration for web service
  apps/api/src/db/migrate.ts
  apps/web/Dockerfile
  apps/web/nginx.conf
  docker-compose.yml
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

feat: update CI workflow to use Ubuntu 24.04 and add caching for Bun dependencies
  .github/workflows/deploy.yml
Due: none

fix: update app URL format in Hero and HeroNew components
  apps/landing/src/components/CTA.astro
  apps/landing/src/components/Hero.astro
  apps/landing/src/components/HeroNew.astro
  apps/landing/src/components/Navbar.astro
  deploy.sh
  docker-compose.prod.yml
Due: none

feat: add additional API keys to environment configuration for deployment
  .env.example
  .github/workflows/deploy.yml
  deploy.sh
Due: none

feat: add database setup and existence check scripts for migration process
  apps/api/package.json
  apps/api/scripts/setup-db.ts
  apps/api/src/db/migrate.ts
  apps/api/src/db/setup.ts
  deploy.sh
Due: lint_api, test_api, build_api

feat: Copy API scripts to Docker image and refactor `.env` file generation in deploy script.
  apps/api/Dockerfile
  deploy.sh
Due: lint_api, test_api, build_api

feat: update Dockerfile and deploy script to improve file copying and environment variable handling
  apps/api/Dockerfile
  deploy.sh
Due: lint_api, test_api, build_api

fix: bypass PgBouncer for `db:setup` and remove `--filter` from `db:migrate`
  deploy.sh
Due: none

chore: Add default values for DATABASE_URL credentials and name in the deploy script.
  deploy.sh
Due: none

feat: Add new Remotion-based video generation application with associated tooling and configuration.
  deploy.sh
Due: none

feat: Add new video application and Remotion best practices skills.
  deploy.sh
  docker-compose.prod.yml
Due: none

feat: Add new Remotion video application, including components, configuration, and best practice documentation, with corresponding updates to dependencies and deployment scripts.
  deploy.sh
  docker-compose.prod.yml
Due: none

feat: Deploy sh being updated to work with Github keys only
  deploy.sh
Due: none

feat: Update environment variables in .env.example and deployment scripts for improved database configuration
  .env.example
  deploy.sh
  docker-compose.prod.yml
Due: none

feat: Add Remotion best practices skill with various rules, documentation, and code examples.
  .github/workflows/deploy.yml
  .gitignore
  apps/api/scripts/setup-db.ts
Due: lint_api, test_api, build_api

feat: Add Remotion best practices skills and update database migrations.
  .gitignore
  apps/api/drizzle/0000_lucky_wonder_man.sql
  apps/api/drizzle/0001_sharp_skaar.sql
  apps/api/drizzle/0002_lying_forgotten_one.sql
  apps/api/drizzle/0003_clean_crusher_hogan.sql
  apps/api/drizzle/0004_equal_vapor.sql
  apps/api/drizzle/0005_superb_ezekiel.sql
  apps/api/drizzle/0006_category_type.sql
  apps/api/drizzle/0008_add_chat_tables.sql
  apps/api/drizzle/0010_awesome_reaper.sql
  apps/api/drizzle/0011_talented_scourge.sql
  apps/api/drizzle/0012_smiling_nocturne.sql
  apps/api/drizzle/0015_lazy_human_cannonball.sql
  apps/api/drizzle/0015_overconfident_violations.sql
  apps/api/drizzle/0017_add_ai_config.sql
  apps/api/drizzle/meta/_journal.json
Due: migrate_database, lint_api, test_api, build_api

feat: Add DB_PORT configuration to environment files and update Docker Compose settings
  .env.example
  deploy.sh
  docker-compose.prod.yml
  docker-compose.yml
Due: none

Refactor code structure for improved readability and maintainability
  .gitignore
  apps/api/scripts/setup-db.ts
  bun.lock
  deploy.sh
Due: lint_api, test_api, build_api

feat: Add last_4_digits column to accounts table and update migration snapshot
  apps/api/drizzle/0017_warm_piledriver.sql
  apps/api/drizzle/meta/0017_snapshot.json
  apps/api/drizzle/meta/_journal.json
Due: migrate_database, lint_api, test_api, build_api

chore: synchronize lockfile to fix CI/CD frozen lockfile error
  bun.lock
Due: none

chore: remove conflicting pnpm-lock.yaml and synchronize bun.lock for CI/CD
  apps/api/run-migration.ts
  apps/mobile/pnpm-lock.yaml
  bun.lock
  deploy.sh
Due: lint_api, test_api, build_api

fix: remove --frozen-lockfile from CI to fix cross-platform lockfile sync
  .github/workflows/deploy.yml
Due: none

fix: add trailing space in bun install command for consistency
  .github/workflows/deploy.yml
Due: none

fix: add run-migration.ts to Docker image for fallback migrations
  apps/api/Dockerfile
Due: lint_api, test_api, build_api

fix: remove --frozen-lockfile from bun install commands in Dockerfiles
  apps/api/Dockerfile
  apps/landing/Dockerfile
  apps/web/Dockerfile
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

Path conditions:
  migrate_database: any of: apps/api/drizzle/**/*, apps/api/src/db/schema/**/*
  lint_api: any of: apps/api/**/*, packages/shared/**/*, turbo.json, package.json
  test_api: any of: apps/api/**/*, packages/shared/**/*, turbo.json, package.json
  build_api: any of: apps/api/**/*, packages/shared/**/*, turbo.json, package.json
  lint_web: any of: apps/web/**/*, packages/shared/**/*, turbo.json, package.json
  test_web: any of: apps/web/**/*, packages/shared/**/*, turbo.json, package.json
  build_web: any of: apps/web/**/*, packages/shared/**/*, turbo.json, package.json
