Repository almatkai/woolet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: migrate_database, lint_api, test_api, build_api, lint_web, test_web, build_web

.gitlab-ci.yml:

stages:
  - install
  - lint
  - test
  - migrate
  - build
  - deploy

default:
  image: oven/bun:1.3
  cache:
    key:
      files:
        - bun.lock
    paths:
      - .bun-cache/
      - node_modules/
    policy: pull-push

# Shared installation job
install_dependencies:
  stage: install
  script:
    - bun install --frozen-lockfile --cache-dir .bun-cache
  artifacts:
    paths:
      - node_modules/
      - apps/api/node_modules/
      - apps/web/node_modules/
      - packages/shared/node_modules/
    expire_in: 1 hour

# Database Migrations
migrate_database:
  stage: migrate
  script:
    - bun run db:migrate --filter=@woolet/api
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - apps/api/drizzle/**/*
        - apps/api/src/db/schema/**/*
  environment:
    name: production

# API Pipeline
lint_api:
  stage: lint
  script:
    - bun run lint --filter=@woolet/api
  rules:
    - changes:
        - apps/api/**/*
        - packages/shared/**/*
        - turbo.json
        - package.json

test_api:
  stage: test
  script:
    - bun run test --filter=@woolet/api
  rules:
    - changes:
        - apps/api/**/*
        - packages/shared/**/*
        - turbo.json
        - package.json

build_api:
  stage: build
  script:
    - bun run build --filter=@woolet/api
  artifacts:
    paths:
      - apps/api/dist/
    expire_in: 1 week
  rules:
    - changes:
        - apps/api/**/*
        - packages/shared/**/*
        - turbo.json
        - package.json

# Web Pipeline
lint_web:
  stage: lint
  script:
    - bun run lint --filter=@woolet/web
  rules:
    - changes:
        - apps/web/**/*
        - packages/shared/**/*
        - turbo.json
        - package.json

test_web:
  stage: test
  script:
    - bun run test --filter=@woolet/web
  rules:
    - changes:
        - apps/web/**/*
        - packages/shared/**/*
        - turbo.json
        - package.json

build_web:
  stage: build
  script:
    - bun run build --filter=@woolet/web
  artifacts:
    paths:
      - apps/web/dist/
    expire_in: 1 week
  rules:
    - changes:
        - apps/web/**/*
        - packages/shared/**/*
        - turbo.json
        - package.json

# Docker Builds (Manual)
build_docker_api:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
    - docker build -t $CI_REGISTRY_IMAGE/api:$CI_COMMIT_REF_SLUG -f apps/api/Dockerfile .
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - apps/api/**/*
        - packages/shared/**/*
      when: manual
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - apps/api/**/*
      when: manual

build_docker_web:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
    - docker build -t $CI_REGISTRY_IMAGE/web:$CI_COMMIT_REF_SLUG -f apps/web/Dockerfile .
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - apps/web/**/*
        - packages/shared/**/*
      when: manual
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - apps/web/**/*
      when: manual

# Deploy to Server
deploy_to_server:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client git
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $SERVER_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - ssh $SERVER_USER@$SERVER_HOST "cd /path/to/your/project && git pull origin $CI_DEFAULT_BRANCH && ./deploy.sh"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: manual

refactor: update CurrencyDisplay component for improved layout and styling
  apps/web/src/components/CategoryPieChart.tsx
  apps/web/src/components/CurrencyDisplay.tsx
  apps/web/src/components/charts/VoronoiTreemap.tsx
  apps/web/src/components/dashboard-widget.css
  apps/web/src/components/dashboard/AssetAllocationWidget.tsx
  apps/web/src/components/dashboard/CreditWidget.tsx
  apps/web/src/components/dashboard/CurrencyExchangeWidget.tsx
  apps/web/src/components/dashboard/DebtsWidget.tsx
  apps/web/src/components/dashboard/DepositWidget.tsx
  apps/web/src/components/dashboard/InvestmentPerformanceWidget.tsx
  apps/web/src/components/dashboard/InvestmentPortfolioWidget.tsx
  apps/web/src/components/dashboard/MonthlyExpensesWidget.tsx
  apps/web/src/components/dashboard/MonthlyIncomeWidget.tsx
  apps/web/src/components/dashboard/MortgageWidget.tsx
  apps/web/src/components/dashboard/RecentTransactionsWidget.tsx
  apps/web/src/components/dashboard/SplitBillWidget.tsx
  apps/web/src/components/dashboard/SubscriptionsWidget.tsx
  apps/web/src/components/dashboard/TotalBalanceWidget.tsx
  apps/web/src/components/ui/tooltip-pro.tsx
  apps/web/src/routes/settings.tsx
Due: lint_web, test_web, build_web

fix: Add missing 'fi' to close the conditional block.
  deploy.sh
Due: none

feat: Add config file change detection and force deploy option to trigger full service redeployment.
  .github/workflows/deploy.yml
  deploy.sh
Due: none

feat: Runner trigger
  apps/api/src/services/credit-service.ts
  apps/web/src/components/AccountActionSheet.tsx
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

feat: Add disk space check and pre-emptive Docker image cleanup to deploy script.
  deploy.sh
Due: none

feat: Enhance `DashboardGrid` drag behavior on touch devices with an `EditOverlay` and improved drag handle styling, and update the API server port to 3006.
  apps/api/src/index.ts
  apps/mobile/src/providers/TRPCProvider.tsx
  apps/web/src/components/DashboardGrid.tsx
  apps/web/src/components/resize-styles.css
  apps/web/vite.config.ts
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

feat: Update RootLayout to handle authentication state and improve routing logic; enhance CurrencyDisplay for consistent amount formatting
  apps/web/src/components/CurrencyDisplay.tsx
  apps/web/src/routeTree.gen.tsx
Due: lint_web, test_web, build_web

feat: Implement AI capability registry and chat service
  apps/api/src/routers/ai.ts
  apps/api/src/services/ai/capability-registry.ts
  apps/api/src/services/ai/chat-service.ts
  apps/web/src/components/AiChatWidget/AiChatWidgetComponents.tsx
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

feat: Update server configuration in astro.config.mjs and vite.config.ts for dynamic port handling; add dev:work3 script to package.json for local development
  apps/landing/astro.config.mjs
  apps/web/vite.config.ts
  package.json
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

feat: Update app URL configuration to use environment variables for better flexibility; add loading screen component for improved user experience during authentication
  apps/api/src/index.ts
  apps/landing/src/components/CTA.astro
  apps/landing/src/components/Hero.astro
  apps/landing/src/components/HeroNew.astro
  apps/landing/src/components/Navbar.astro
  apps/web/src/components/dashboard-widget.css
  apps/web/src/routeTree.gen.tsx
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

feat: enhance AiChatWidget with agent trace and loading indicators
  apps/api/src/index.ts
  apps/api/src/lib/ai.ts
  apps/api/src/lib/logger.ts
  apps/api/src/routers/ai.ts
  apps/web/src/components/AiChatWidget/AiChatWidgetComponents.tsx
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

feat: implement subscription notifications cron job and enhance push notification handling in settings
  apps/api/src/index.ts
  apps/api/src/jobs/subscription-notifications.ts
  apps/api/src/routers/push-subscription.ts
  apps/api/src/routers/subscription.ts
  apps/api/src/services/push-notification-service.ts
  apps/web/src/hooks/usePushNotifications.tsx
  apps/web/src/routes/settings.tsx
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

feat: add email notification preferences and SMTP configuration
  .env.example
  apps/api/drizzle/0005_notification_preferences.sql
  apps/api/drizzle/meta/_journal.json
  apps/api/package.json
  apps/api/src/db/schema/userSettings.ts
  apps/api/src/jobs/subscription-notifications.ts
  apps/api/src/routers/notification.ts
  apps/api/src/routers/settings.ts
  apps/api/src/routers/subscription.ts
  apps/api/src/services/email-notification-service.ts
  apps/api/src/services/notification-delivery-service.ts
  apps/web/src/routes/settings.tsx
  bun.lock
Due: migrate_database, lint_api, test_api, build_api, lint_web, test_web, build_web

refactor: streamline AiChatFloatingItem integration and enhance drag handling in DashboardGrid
  apps/web/src/components/AiChatWidget/AiChatWidgetComponents.tsx
  apps/web/src/components/DashboardGrid.tsx
  apps/web/src/components/app-sidebar.tsx
  apps/web/src/routeTree.gen.tsx
  apps/web/src/routes/spending.tsx
Due: lint_web, test_web, build_web

feat: enhance mobile navigation and currency display components
  apps/web/package.json
  apps/web/public/site.webmanifest
  apps/web/src/components/AddInvestmentSheet.tsx
  apps/web/src/components/AiChatWidget/AiChatWidgetComponents.tsx
  apps/web/src/components/CurrencyDisplay.tsx
  apps/web/src/components/MobileBottomNav.tsx
  apps/web/src/components/PageHeader.tsx
  apps/web/src/components/SeeInvestingAccountsSheet.tsx
  apps/web/src/components/SettingsLayout.tsx
  apps/web/src/components/UniversalAddSheet.tsx
  apps/web/src/components/dashboard/AssetAllocationWidget.tsx
  apps/web/src/components/dashboard/CreditWidget.tsx
  apps/web/src/components/dashboard/MortgageWidget.tsx
  apps/web/src/components/dashboard/RecentTransactionsWidget.tsx
  apps/web/src/components/ui/sheet.tsx
  apps/web/src/main.tsx
  apps/web/src/routeTree.gen.tsx
  apps/web/src/routes/accounts.tsx
  apps/web/src/routes/debts.tsx
  apps/web/src/routes/financial/credits.tsx
  apps/web/src/routes/financial/deposits.tsx
  apps/web/src/routes/financial/mortgages.tsx
  apps/web/src/routes/index.tsx
  apps/web/src/routes/investing.tsx
  apps/web/src/routes/settings.tsx
  apps/web/src/routes/spending.tsx
  apps/web/src/routes/subscriptions.tsx
  apps/web/src/vite-env.d.ts
  apps/web/vite.config.ts
  bun.lock
Due: lint_web, test_web, build_web

fix: improve compact panel behavior in AiChatFloatingItem
  apps/web/src/components/AiChatWidget/AiChatWidgetComponents.tsx
Due: lint_web, test_web, build_web

feat: update repayment descriptions and improve account labeling in debt components
  apps/api/src/routers/debt.ts
  apps/web/src/components/AddDebtPaymentSheet.tsx
  apps/web/src/routes/debts.tsx
  apps/web/src/routes/spending.tsx
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

feat: enhance mobile responsiveness across various components
  apps/web/src/components/AddBankSheet.tsx
  apps/web/src/components/AddCreditSheet.tsx
  apps/web/src/components/AddDebtForm.tsx
  apps/web/src/components/AddDebtSheet.tsx
  apps/web/src/components/AddDepositForm.tsx
  apps/web/src/components/AddDepositSheet.tsx
  apps/web/src/components/AddInvestmentSheet.tsx
  apps/web/src/components/AddMortgageForm.tsx
  apps/web/src/components/AddMortgageSheet.tsx
  apps/web/src/components/AddSubscriptionForm.tsx
  apps/web/src/components/AddSubscriptionSheet.tsx
  apps/web/src/components/AddTransactionSheet.tsx
  apps/web/src/components/AiChatWidget/AiChatWidgetComponents.tsx
  apps/web/src/components/CompoundCreditPaymentSheet.tsx
  apps/web/src/components/MobileBottomNav.tsx
  apps/web/src/components/SeeInvestingAccountsSheet.tsx
  apps/web/src/components/TransferSheet.tsx
  apps/web/src/components/UniversalAddSheet.tsx
  apps/web/src/hooks/use-mobile.tsx
  apps/web/src/routes/spending.tsx
Due: lint_web, test_web, build_web

refactor: replace PageHeader with custom header in MortgagesPage
  apps/web/src/routes/financial/mortgages.tsx
Due: lint_web, test_web, build_web

fix: adjust bottom offset in AiChatFloatingItem for improved layout
  apps/web/src/components/AiChatWidget/AiChatWidgetComponents.tsx
Due: lint_web, test_web, build_web

refactor: simplify HeroBackground component by adding className prop and removing unused elements
  apps/web/src/components/AuthLayout.tsx
  apps/web/src/components/ui/HeroBackground.tsx
Due: lint_web, test_web, build_web

fix: enhance privacy policy content for clarity and detail
  apps/landing/src/pages/privacy.astro
Due: none

Add username search and linked mates in split bill flow
  apps/api/drizzle/0006_usernames.sql
  apps/api/drizzle/0007_split_participant_user_link.sql
  apps/api/drizzle/meta/_journal.json
  apps/api/src/db/schema/split-bills.ts
  apps/api/src/db/schema/users.ts
  apps/api/src/routers/split-bill.ts
  apps/api/src/routers/user.ts
  apps/web/src/components/SplitBillComponents.tsx
  apps/web/src/components/UsernameSetupDialog.tsx
  apps/web/src/routeTree.gen.tsx
  packages/shared/src/schemas/split-bills.ts
Due: migrate_database, lint_api, test_api, build_api, lint_web, test_web, build_web

feat: add SVG asset for two men illustration and update SplitBillComponents and UsernameSetupDialog
  apps/web/assets/two_men.svg
  apps/web/src/components/SplitBillComponents.tsx
  apps/web/src/components/UsernameSetupDialog.tsx
Due: lint_web, test_web, build_web

fix: update UsernameSetupDialog to improve layout and adjust username length limit
  apps/web/src/components/UsernameSetupDialog.tsx
Due: lint_web, test_web, build_web

fix: refactor user retrieval queries to use select with limit for consistency and performance
  apps/api/src/lib/trpc.ts
  apps/api/src/routers/user.ts
Due: lint_api, test_api, build_api

fix: remove non-null assertion on userId in admin and user procedures for safer querying
  apps/api/src/lib/trpc.ts
  apps/api/src/routers/user.ts
Due: lint_api, test_api, build_api

fix: refactor user retrieval to use findFirst for improved clarity and consistency
  apps/api/src/lib/trpc.ts
  apps/api/src/routers/user.ts
Due: lint_api, test_api, build_api

feat: enhance SettingsPage with username setup dialog and improve layout responsiveness
  apps/web/src/components/DashboardGrid.tsx
  apps/web/src/components/SettingsLayout.tsx
  apps/web/src/components/UsernameSetupDialog.tsx
  apps/web/src/routeTree.gen.tsx
  apps/web/src/routes/settings.tsx
Due: lint_web, test_web, build_web

feat: implement optimistic caching for finance transactions and balances
  apps/api/src/jobs/currency-rates.ts
  apps/api/src/routers/debt.ts
  apps/api/src/services/currency-exchange-service.ts
  apps/web/src/components/AddDebtForm.tsx
  apps/web/src/components/AddDebtPaymentSheet.tsx
  apps/web/src/components/AddDebtSheet.tsx
  apps/web/src/components/AddTransactionForm.tsx
  apps/web/src/components/AddTransactionSheet.tsx
  apps/web/src/components/UsernameSetupDialog.tsx
  apps/web/src/lib/optimistic-cache.ts
  apps/web/src/routes/debts.tsx
  apps/web/src/routes/settings.tsx
  apps/web/src/routes/spending.tsx
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

feat(spending): add incoming split requests and payment handling
  .env.example
  apps/api/drizzle/0008_debt_linked_user.sql
  apps/api/drizzle/meta/_journal.json
  apps/api/package.json
  apps/api/src/db/schema/debts.ts
  apps/api/src/index.ts
  apps/api/src/lib/error-tracking.ts
  apps/api/src/routers/ai.ts
  apps/api/src/routers/debt.ts
  apps/api/src/routers/split-bill.ts
  apps/api/src/routers/subscription.ts
  apps/api/src/routers/transaction.ts
  apps/api/src/routers/user.ts
  apps/api/src/services/ai/anomaly-service.ts
  apps/mobile/app/financial/debts.tsx
  apps/web/package.json
  apps/web/src/components/AddDebtForm.tsx
  apps/web/src/components/AddDebtSheet.tsx
  apps/web/src/components/AddTransactionForm.tsx
  apps/web/src/components/AddTransactionSheet.tsx
  apps/web/src/components/CustomSignInForm.tsx
  apps/web/src/components/CustomSignUpForm.tsx
  apps/web/src/components/PostHogProvider.tsx
  apps/web/src/components/PostHogSurveyTrigger.tsx
  apps/web/src/components/SubscriptionPaymentSheet.tsx
  apps/web/src/components/dashboard/DebtsWidget.tsx
  apps/web/src/lib/error-tracking.ts
  apps/web/src/main.tsx
  apps/web/src/routeTree.gen.tsx
  apps/web/src/routes/debts.tsx
  apps/web/src/routes/login.tsx
  apps/web/src/routes/register.tsx
  apps/web/src/routes/settings.tsx
  apps/web/src/routes/spending.tsx
  apps/web/src/vite-env.d.ts
  bun.lock
Due: migrate_database, lint_api, test_api, build_api, lint_web, test_web, build_web

feat: update AccountCard component with animation and improved rendering logic
  apps/web/src/index.css
  apps/web/src/routes/accounts.tsx
Due: lint_web, test_web, build_web

feat: enhance AccountCard and WalletBank components with interactive animations and improved rendering
  apps/web/src/routes/accounts.tsx
Due: lint_web, test_web, build_web

feat: add leather wallet images and enhance AccountCard animations with stable random effects
  apps/web/public/assets/leather.webp
  apps/web/src/routes/accounts.tsx
Due: lint_web, test_web, build_web

feat(account): implement cascading delete for accounts to clean up dependent references
  apps/api/src/lib/trpc.ts
  apps/api/src/routers/account.ts
  apps/api/test/routers/account.test.ts
  apps/web/src/routes/accounts.tsx
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

feat(AccountCard): enhance hover and animation logic for improved user interaction
  apps/web/src/routes/accounts.tsx
Due: lint_web, test_web, build_web

fix(api): use bun-types in tsconfig
  apps/api/tsconfig.json
Due: lint_api, test_api, build_api

Refactor code structure for improved readability and maintainability
  apps/api/package.json
  apps/api/test/routers/account.test.ts
  bun.lock
Due: lint_api, test_api, build_api

refactor(deploy): update GitHub Actions workflow for improved dependency management and job structure
  .github/workflows/deploy.yml
Due: none

feat: Enhance caching and hierarchy management in account and bank routers; add spending stats cache invalidation
  apps/api/src/lib/redis.ts
  apps/api/src/routers/account.ts
  apps/api/src/routers/bank.ts
  apps/api/src/routers/transaction.ts
  apps/web/src/components/CategoryPieChart.tsx
  apps/web/src/components/DashboardGrid.tsx
  apps/web/src/components/SpendingChart.tsx
  apps/web/src/components/dashboard-widget.css
  apps/web/src/components/dashboard/AdaptiveMetricWidget.tsx
  apps/web/src/components/dashboard/AssetAllocationWidget.tsx
  apps/web/src/components/dashboard/CreditWidget.tsx
  apps/web/src/components/dashboard/CurrencyExchangeWidget.tsx
  apps/web/src/components/dashboard/DebtsWidget.tsx
  apps/web/src/components/dashboard/DepositWidget.tsx
  apps/web/src/components/dashboard/InvestmentPerformanceWidget.tsx
  apps/web/src/components/dashboard/InvestmentPortfolioWidget.tsx
  apps/web/src/components/dashboard/MonthlyExpensesWidget.tsx
  apps/web/src/components/dashboard/MonthlyIncomeWidget.tsx
  apps/web/src/components/dashboard/MortgageWidget.tsx
  apps/web/src/components/dashboard/RecentTransactionsWidget.tsx
  apps/web/src/components/dashboard/SpendingAnomalyCard.tsx
  apps/web/src/components/dashboard/SplitBillWidget.tsx
  apps/web/src/components/dashboard/SubscriptionsWidget.tsx
  apps/web/src/components/dashboard/TotalBalanceWidget.tsx
  apps/web/src/components/dashboard/WidgetFooter.tsx
  apps/web/src/components/resize-styles.css
  apps/web/tailwind.config.js
Due: lint_api, test_api, build_api, lint_web, test_web, build_web
