Repository almatkai/woolet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: migrate_database, lint_api, test_api, build_api, lint_web, test_web, build_web

.gitlab-ci.yml:

stages:
  - install
  - lint
  - test
  - migrate
  - build
  - deploy

default:
  image: oven/bun:1.3
  cache:
    key:
      files:
        - bun.lock
    paths:
      - .bun-cache/
      - node_modules/
    policy: pull-push

# Shared installation job
install_dependencies:
  stage: install
  script:
    - bun install --frozen-lockfile --cache-dir .bun-cache
  artifacts:
    paths:
      - node_modules/
      - apps/api/node_modules/
      - apps/web/node_modules/
      - packages/shared/node_modules/
    expire_in: 1 hour

# Database Migrations
migrate_database:
  stage: migrate
  script:
    - bun run db:migrate --filter=@woolet/api
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - apps/api/drizzle/**/*
        - apps/api/src/db/schema/**/*
  environment:
    name: production

# API Pipeline
lint_api:
  stage: lint
  script:
    - bun run lint --filter=@woolet/api
  rules:
    - changes:
        - apps/api/**/*
        - packages/shared/**/*
        - turbo.json
        - package.json

test_api:
  stage: test
  script:
    - bun run test --filter=@woolet/api
  rules:
    - changes:
        - apps/api/**/*
        - packages/shared/**/*
        - turbo.json
        - package.json

build_api:
  stage: build
  script:
    - bun run build --filter=@woolet/api
  artifacts:
    paths:
      - apps/api/dist/
    expire_in: 1 week
  rules:
    - changes:
        - apps/api/**/*
        - packages/shared/**/*
        - turbo.json
        - package.json

# Web Pipeline
lint_web:
  stage: lint
  script:
    - bun run lint --filter=@woolet/web
  rules:
    - changes:
        - apps/web/**/*
        - packages/shared/**/*
        - turbo.json
        - package.json

test_web:
  stage: test
  script:
    - bun run test --filter=@woolet/web
  rules:
    - changes:
        - apps/web/**/*
        - packages/shared/**/*
        - turbo.json
        - package.json

build_web:
  stage: build
  script:
    - bun run build --filter=@woolet/web
  artifacts:
    paths:
      - apps/web/dist/
    expire_in: 1 week
  rules:
    - changes:
        - apps/web/**/*
        - packages/shared/**/*
        - turbo.json
        - package.json

# Docker Builds (Manual)
build_docker_api:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
    - docker build -t $CI_REGISTRY_IMAGE/api:$CI_COMMIT_REF_SLUG -f apps/api/Dockerfile .
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - apps/api/**/*
        - packages/shared/**/*
      when: manual
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - apps/api/**/*
      when: manual

build_docker_web:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
    - docker build -t $CI_REGISTRY_IMAGE/web:$CI_COMMIT_REF_SLUG -f apps/web/Dockerfile .
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - apps/web/**/*
        - packages/shared/**/*
      when: manual
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - apps/web/**/*
      when: manual

# Deploy to Server
deploy_to_server:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client git
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $SERVER_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - ssh $SERVER_USER@$SERVER_HOST "cd /path/to/your/project && git pull origin $CI_DEFAULT_BRANCH && ./deploy.sh"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: manual

fix: make baseline migration idempotent for production sync
  apps/api/drizzle/0000_complex_wither.sql
Due: migrate_database, lint_api, test_api, build_api

feat: display last 4 digits for accounts in various forms and sheets, and update API port to 3005.
  apps/api/src/index.ts
  apps/api/sync-migration.ts
  apps/mobile/src/providers/TRPCProvider.tsx
  apps/web/src/components/AccountActionsSheet.tsx
  apps/web/src/components/AddCreditSheet.tsx
  apps/web/src/components/AddDebtForm.tsx
  apps/web/src/components/AddDepositForm.tsx
  apps/web/src/components/AddInvestmentForm.tsx
  apps/web/src/components/AddMortgageForm.tsx
  apps/web/src/components/AddTransactionForm.tsx
  apps/web/src/components/SeeInvestingAccountsSheet.tsx
  apps/web/src/components/TransferSheet.tsx
  apps/web/src/routes/accounts.tsx
  apps/web/vite.config.ts
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

fix: update API port from 3001 to 3005 in Docker, Nginx, and deployment configurations
  apps/api/Dockerfile
  apps/web/nginx.conf
  deploy.sh
  docker-compose.prod.yml
  docker-compose.yml
  nginx.conf
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

refactor: remove data router and integrate data handling into user router
  apps/api/src/routers/data.ts
  apps/api/src/routers/index.ts
  apps/api/src/routers/user.ts
Due: lint_api, test_api, build_api

feat: add VAPID keys configuration for push notifications and implement data import mutation in settings
  .env.example
  DEPLOYMENT.md
  apps/api/package.json
  apps/web/src/routes/settings.tsx
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

feat: add VAPID keys to deployment scripts and enhance user data deletion logic
  .github/workflows/deploy.yml
  apps/api/src/routers/user.ts
  apps/web/src/routes/settings.tsx
  deploy.sh
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

feat: implement mortgage payment processing and enhance account label formatting across components
  apps/api/src/lib/mortgage-helper.ts
  apps/api/src/routers/transaction.ts
  apps/web/src/components/AccountActionsSheet.tsx
  apps/web/src/components/AddDebtForm.tsx
  apps/web/src/components/AddDebtSheet.tsx
  apps/web/src/components/AddInvestmentSheet.tsx
  apps/web/src/components/AddTransactionForm.tsx
  apps/web/src/components/AddTransactionSheet.tsx
  apps/web/src/components/TransferSheet.tsx
  apps/web/src/index.css
  apps/web/src/lib/utils.ts
  apps/web/src/routes/spending.tsx
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

feat: integrate currency exchange service with new API and implement currency selector component
  .env.example
  .github/workflows/deploy.yml
  apps/api/drizzle/0001_wonderful_terror.sql
  apps/api/drizzle/meta/0001_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/db/schema/currencies.ts
  apps/api/src/services/currency-exchange-service.ts
  apps/web/src/components/ui/currency-selector.tsx
  apps/web/src/routes/settings.tsx
  deploy.sh
Due: migrate_database, lint_api, test_api, build_api, lint_web, test_web, build_web

feat: add database name and port to deployment environment variables
  .github/workflows/deploy.yml
Due: none

fix: ensure deployment script continues if environment variable is not set
  deploy.sh
Due: none

fix: update deployment environment to use namespace-profile-default and remove unnecessary port mapping for postgres service
  .github/workflows/deploy.yml
  docker-compose.prod.yml
Due: none

fix: update .env.example and deploy script to handle single quotes and adjust database URL configuration
  .env.example
  deploy.sh
  docker-compose.prod.yml
Due: none

fix: update database port to 5433 in .env.example, deploy script, and docker-compose configuration
  .env.example
  deploy.sh
  docker-compose.prod.yml
Due: none

fix: update ssh-action version to 1.2.0 and add timeout and debug options for deployment
  .github/workflows/deploy.yml
Due: none

fix: enhance deployment script with Postgres readiness checks and detailed container diagnostics
  deploy.sh
Due: none

fix: remove SSH_PRIVATE_KEY environment variable and add connectivity check before file transfer
  .github/workflows/deploy.yml
Due: none

fix: add SSH_PRIVATE_KEY environment variable to build-and-push and deploy jobs
  .github/workflows/deploy.yml
Due: none

fix: improve SSH connectivity check with retries before file transfer
  .github/workflows/deploy.yml
Due: none

fix: enhance deployment configuration with timeout settings and insecure cipher option
  .github/workflows/deploy.yml
Due: none

fix: remove unused environment variables from deployment configuration
  .github/workflows/deploy.yml
Due: none

fix: enhance deployment process with SSH key setup and secure file transfer
  .github/workflows/deploy.yml
Due: none

fix: ensure old .env file is removed to force regeneration during deployment
  deploy.sh
Due: none

feat: Enhance currency exchange service and database schema
  apps/api/add-kzt-rate.ts
  apps/api/drizzle/0002_cool_wrecking_crew.sql
  apps/api/drizzle/meta/0002_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/src/db/schema/fxRates.ts
  apps/api/src/jobs/currency-rates.ts
  apps/api/src/services/currency-exchange-service.ts
Due: migrate_database, lint_api, test_api, build_api

feat: add retry mechanism to SCP file transfer in deploy workflow
  .github/workflows/deploy.yml
Due: none

feat: enhance user data import by ensuring currency existence and adding user settings and dashboard layouts
  apps/api/src/routers/user.ts
Due: lint_api, test_api, build_api

feat: enhance data import by filtering transactions with valid category references and logging skipped transactions
  apps/api/src/routers/user.ts
Due: lint_api, test_api, build_api

feat: enhance data import process with foreign key validation and improved error handling for skipped transactions
  apps/api/src/routers/user.ts
Due: lint_api, test_api, build_api

feat: add script to seed default categories into the database
  apps/api/drizzle/0003_seed_default_categories.sql
  apps/api/drizzle/meta/0003_snapshot.json
  apps/api/drizzle/meta/_journal.json
  apps/api/scripts/seed-default-categories.ts
  apps/api/src/db/schema/categories.ts
  apps/api/src/routers/user.ts
Due: migrate_database, lint_api, test_api, build_api

feat: implement currency selection component and integrate it across forms
  apps/api/src/db/migrate.ts
  apps/mobile/src/components/AddDebtSheet.tsx
  apps/mobile/src/components/AddSubscriptionSheet.tsx
  apps/mobile/src/components/CurrencySelector.tsx
  apps/web/src/components/AddInvestmentForm.tsx
  apps/web/src/components/AddInvestmentSheet.tsx
  apps/web/src/components/CurrencySelect.tsx
  apps/web/src/components/dashboard/CreditWidget.tsx
  apps/web/src/routes/investing.tsx
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

refactor: Add explicit type checks for tool calls and reformat AI configuration endpoints.
  apps/api/src/routers/ai.ts
Due: lint_api, test_api, build_api

feat: Enhance AI chat widget responsiveness by adjusting positioning, padding, and height calculations.
  apps/web/src/components/AiChatWidget.tsx
Due: lint_web, test_web, build_web

refactor: Adjust padding for various components and update AI chat widget responsiveness and favorites widget positioning.
  apps/web/src/components/AddTransactionSheet.tsx
  apps/web/src/components/AiChatWidget.tsx
  apps/web/src/components/ShortcutsWidget.tsx
  apps/web/src/routes/spending.tsx
Due: lint_web, test_web, build_web

feat: Add import functionality for user settings and dashboard layouts, and refine AI chat widget responsive layout.
  apps/api/drizzle/meta/0003_snapshot.json
  apps/api/src/routers/user.ts
  apps/web/src/components/AiChatWidget.tsx
Due: migrate_database, lint_api, test_api, build_api, lint_web, test_web, build_web

refactor: update headings and descriptions for consistency across financial pages
  apps/web/src/components/AiChatWidget.tsx
Due: lint_web, test_web, build_web

feat: Enhance deployment process by conditionally pulling and restarting application images based on changes in services
  .github/workflows/deploy.yml
  apps/web/src/components/AdminPanel.tsx
  apps/web/src/components/AiChatWidget.tsx
  deploy.sh
Due: lint_web, test_web, build_web

feat: Introduce an animated Momo icon component and integrate it into the AI Chat Widget, along with related component organization and styling adjustments.
  apps/web/src/components/AiChatWidget.tsx
  apps/web/src/components/AiChatWidget/AiChatWidgetComponents.tsx
  apps/web/src/components/AiChatWidget/MomoIcon.tsx
  apps/web/src/components/AiChatWidget/MomoIconWrapper.tsx
  apps/web/src/components/DashboardGrid.tsx
  apps/web/src/components/resize-styles.css
Due: lint_web, test_web, build_web

feat: add NotificationsMenu to AppSidebar and remove unused components from RootLayout
  apps/web/src/components/app-sidebar.tsx
  apps/web/src/routeTree.gen.tsx
Due: lint_web, test_web, build_web

refactor: remove unused background and icon elements from CTA component
  apps/landing/src/components/CTA.astro
Due: none

Refactor dashboard widgets for improved layout and functionality
  apps/web/src/components/CategoryPieChart.tsx
  apps/web/src/components/CurrencyDisplay.tsx
  apps/web/src/components/DashboardGrid.tsx
  apps/web/src/components/charts/VoronoiTreemap.tsx
  apps/web/src/components/dashboard-widget.css
  apps/web/src/components/dashboard/AdaptiveMetricWidget.tsx
  apps/web/src/components/dashboard/AssetAllocationWidget.tsx
  apps/web/src/components/dashboard/CreditWidget.tsx
  apps/web/src/components/dashboard/CurrencyExchangeWidget.tsx
  apps/web/src/components/dashboard/DebtsWidget.tsx
  apps/web/src/components/dashboard/DepositWidget.tsx
  apps/web/src/components/dashboard/InvestmentPerformanceWidget.tsx
  apps/web/src/components/dashboard/InvestmentPortfolioWidget.tsx
  apps/web/src/components/dashboard/MonthlyExpensesWidget.tsx
  apps/web/src/components/dashboard/MonthlyIncomeWidget.tsx
  apps/web/src/components/dashboard/MortgageWidget.tsx
  apps/web/src/components/dashboard/RecentTransactionsWidget.tsx
  apps/web/src/components/dashboard/SpendingAnomalyCard.tsx
  apps/web/src/components/dashboard/SplitBillWidget.tsx
  apps/web/src/components/dashboard/SubscriptionsWidget.tsx
  apps/web/src/components/dashboard/TotalBalanceWidget.tsx
  apps/web/src/components/ui/tooltip-pro.tsx
  apps/web/src/routes/index.tsx
Due: lint_web, test_web, build_web
