Repository almatkai/woolet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: migrate_database, lint_api, test_api, build_api, lint_web, test_web, build_web

.gitlab-ci.yml:

stages:
  - install
  - lint
  - test
  - migrate
  - build
  - deploy

default:
  image: oven/bun:1.3
  cache:
    key:
      files:
        - bun.lock
    paths:
      - .bun-cache/
      - node_modules/
    policy: pull-push

# Shared installation job
install_dependencies:
  stage: install
  script:
    - bun install --frozen-lockfile --cache-dir .bun-cache
  artifacts:
    paths:
      - node_modules/
      - apps/api/node_modules/
      - apps/web/node_modules/
      - packages/shared/node_modules/
    expire_in: 1 hour

# Database Migrations
migrate_database:
  stage: migrate
  script:
    - bun run db:migrate --filter=@woolet/api
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - apps/api/drizzle/**/*
        - apps/api/src/db/schema/**/*
  environment:
    name: production

# API Pipeline
lint_api:
  stage: lint
  script:
    - bun run lint --filter=@woolet/api
  rules:
    - changes:
        - apps/api/**/*
        - packages/shared/**/*
        - turbo.json
        - package.json

test_api:
  stage: test
  script:
    - bun run test --filter=@woolet/api
  rules:
    - changes:
        - apps/api/**/*
        - packages/shared/**/*
        - turbo.json
        - package.json

build_api:
  stage: build
  script:
    - bun run build --filter=@woolet/api
  artifacts:
    paths:
      - apps/api/dist/
    expire_in: 1 week
  rules:
    - changes:
        - apps/api/**/*
        - packages/shared/**/*
        - turbo.json
        - package.json

# Web Pipeline
lint_web:
  stage: lint
  script:
    - bun run lint --filter=@woolet/web
  rules:
    - changes:
        - apps/web/**/*
        - packages/shared/**/*
        - turbo.json
        - package.json

test_web:
  stage: test
  script:
    - bun run test --filter=@woolet/web
  rules:
    - changes:
        - apps/web/**/*
        - packages/shared/**/*
        - turbo.json
        - package.json

build_web:
  stage: build
  script:
    - bun run build --filter=@woolet/web
  artifacts:
    paths:
      - apps/web/dist/
    expire_in: 1 week
  rules:
    - changes:
        - apps/web/**/*
        - packages/shared/**/*
        - turbo.json
        - package.json

# Docker Builds (Manual)
build_docker_api:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
    - docker build -t $CI_REGISTRY_IMAGE/api:$CI_COMMIT_REF_SLUG -f apps/api/Dockerfile .
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - apps/api/**/*
        - packages/shared/**/*
      when: manual
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - apps/api/**/*
      when: manual

build_docker_web:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  script:
    - docker build -t $CI_REGISTRY_IMAGE/web:$CI_COMMIT_REF_SLUG -f apps/web/Dockerfile .
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - apps/web/**/*
        - packages/shared/**/*
      when: manual
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - apps/web/**/*
      when: manual

# Deploy to Server
deploy_to_server:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client git
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $SERVER_HOST >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - ssh $SERVER_USER@$SERVER_HOST "cd /path/to/your/project && git pull origin $CI_DEFAULT_BRANCH && ./deploy.sh"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: manual

fix(service-worker): improve service worker registration logic and remove redundant code
  apps/api/package.json
  apps/web/src/hooks/usePushNotifications.tsx
  apps/web/src/main.tsx
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

feat: Add component documentation comments and clean up unused imports in various files
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/currency-selector.tsx
  apps/web/src/components/ui/multi-select.tsx
  apps/web/src/routes/financial/deposits.tsx
  apps/web/src/routes/financial/mortgages.tsx
  apps/web/src/routes/investing.tsx
  apps/web/src/routes/settings.tsx
  apps/web/src/routes/spending.tsx
  apps/web/src/routes/subscriptions.tsx
Due: lint_web, test_web, build_web

fix: Refactor state management in various components for improved readability and performance
  apps/web/src/components/AddTransactionSheet.tsx
  apps/web/src/components/SpendingChart.tsx
  apps/web/src/components/dashboard/RecentTransactionsWidget.tsx
  apps/web/src/routes/debts.tsx
  apps/web/src/routes/spending.tsx
  apps/web/src/routes/subscriptions.tsx
Due: lint_web, test_web, build_web

fix: Correct formatting of interface closing brace in VoronoiTile
  apps/web/src/components/charts/VoronoiTreemap.tsx
Due: lint_web, test_web, build_web

fix: Update workflow to use ubuntu-latest instead of namespace-profile-default for job runners
  .github/workflows/deploy.yml
Due: none

feat: Add environment variables for API and PostHog integration in deployment workflow and Dockerfile
  .github/workflows/deploy.yml
  apps/web/Dockerfile
  apps/web/src/main.tsx
  deploy.sh
Due: lint_web, test_web, build_web

fix: Remove unused route export in SubscriptionsPage
  apps/web/src/routes/financial/mortgages.tsx
  apps/web/src/routes/subscriptions.tsx
Due: lint_web, test_web, build_web

fix: Correct X-Forwarded-Proto header in nginx configuration
  apps/web/nginx.conf
Due: lint_web, test_web, build_web

fix: Update deployment scripts and nginx configuration for improved environment variable handling and secure connections
  .github/workflows/deploy.yml
  apps/web/src/main.tsx
  deploy.sh
  nginx.conf
Due: lint_web, test_web, build_web

feat: Add Clerk proxy URL and update nginx configuration for same-domain proxy handling
  .env.example
  .github/workflows/deploy.yml
  apps/api/test/routers/investing.test.ts
  apps/web/src/main.tsx
  apps/web/src/vite-env.d.ts
  nginx.conf
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

fix: Remove unused Clerk proxy configuration from nginx and main.tsx
  apps/web/src/main.tsx
  apps/web/vite.config.ts
  nginx.conf
Due: lint_web, test_web, build_web

fix: Update Clerk proxy URL handling and add production reminders in .env.example; bump bun version in workflows and package.json
  .env.example
  .github/workflows/deploy.yml
  apps/web/src/main.tsx
  package.json
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

chore: regenerate bun.lock with bun 1.3.9
  bun.lock
Due: none

chore: update bun.lock dependencies to match bun 1.3.9 resolution
  bun.lock
Due: none

feat: Enhance AiChatFloatingItem for responsive design with mobile viewport handling
  apps/web/src/components/AiChatWidget/AiChatWidgetComponents.tsx
Due: lint_web, test_web, build_web

fix: Change runner from ubuntu-latest to namespace-profile-default in deploy workflow
  .github/workflows/deploy.yml
Due: none

fix: remove --frozen-lockfile relative to bun issue #19088
  .github/workflows/deploy.yml
Due: none

chore: add test comments in index.ts and main.tsx for clarity
  apps/api/src/index.ts
  apps/web/src/main.tsx
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

refactor: Update NotificationsBell and NotificationsMenu components for improved styling and functionality; enhance service worker navigation handling in web app
  apps/mobile/src/components/NotificationsBell.tsx
  apps/web/public/push-sw.js
  apps/web/src/components/AdminPanel.tsx
  apps/web/src/components/CustomSignInForm.tsx
  apps/web/src/components/CustomSignUpForm.tsx
  apps/web/src/components/NotificationsMenu.tsx
  apps/web/src/main.tsx
  apps/web/src/routes/notifications.tsx
Due: lint_web, test_web, build_web

chore: update development scripts and environment variable handling in package.json and turbo.json; add env configuration in API
  apps/api/src/db/index.ts
  apps/api/src/env.ts
  apps/api/src/index.ts
  apps/web/src/routes/spending.tsx
  apps/web/vite.config.ts
  package.json
  turbo.json
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

feat: add environment configuration and update various components for improved functionality
  apps/web/src/components/CurrencyDisplay.tsx
  apps/web/src/routes/spending.tsx
Due: lint_web, test_web, build_web

feat: implement pagination and week/month view toggle in SpendingPage component
  apps/web/src/routeTree.gen.tsx
  apps/web/src/routes/spending.tsx
Due: lint_web, test_web, build_web

feat: add inline controls for date navigation and view mode selection in SpendingPage component
  apps/web/src/routes/spending.tsx
Due: lint_web, test_web, build_web

Refactor code structure for improved readability and maintainability
  apps/api/src/routers/debt.ts
  apps/mobile/app/financial/debts.tsx
  apps/web/src/components/AddDebtPaymentSheet.tsx
  apps/web/src/components/AddDebtSheet.tsx
  apps/web/src/components/NotificationsMenu.tsx
  apps/web/src/routes/debts.tsx
  apps/web/src/routes/notifications.tsx
  apps/web/src/routes/spending.tsx
  bun.lock
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

feat: add 'awaiting_approval' status to Debt interface and update notification handling in DebtsPage
  apps/web/src/routes/debts.tsx
Due: lint_web, test_web, build_web

feat: add video app dependencies and update esbuild resolution in package.json
  apps/web/src/routes/spending.tsx
  bun.lock
  package.json
Due: lint_api, test_api, build_api, lint_web, test_web, build_web

feat: implement debt payment synchronization with new SQL schema and update related components for handling approval status
  apps/api/drizzle/0009_debt_payment_peer_sync.sql
  apps/api/drizzle/meta/_journal.json
  apps/api/src/db/schema/debts.ts
  apps/api/src/routers/debt.ts
  apps/mobile/app/financial/debts.tsx
  apps/web/src/components/AddDebtPaymentSheet.tsx
  apps/web/src/routes/debts.tsx
  apps/web/src/routes/spending.tsx
Due: migrate_database, lint_api, test_api, build_api, lint_web, test_web, build_web

minor: Trigger github actions
  apps/web/src/components/CategoryPieChart.tsx
  apps/web/src/components/SpendingChart.tsx
  apps/web/src/components/dashboard-widget.css
  apps/web/src/components/dashboard/AdaptiveMetricWidget.tsx
  apps/web/src/components/dashboard/AssetAllocationWidget.tsx
  apps/web/src/components/dashboard/CreditWidget.tsx
  apps/web/src/components/dashboard/CurrencyExchangeWidget.tsx
  apps/web/src/components/dashboard/DebtsWidget.tsx
  apps/web/src/components/dashboard/DepositWidget.tsx
  apps/web/src/components/dashboard/InvestmentPerformanceWidget.tsx
  apps/web/src/components/dashboard/InvestmentPortfolioWidget.tsx
  apps/web/src/components/dashboard/MonthlyExpensesWidget.tsx
  apps/web/src/components/dashboard/MonthlyIncomeWidget.tsx
  apps/web/src/components/dashboard/MortgageWidget.tsx
  apps/web/src/components/dashboard/RecentTransactionsWidget.tsx
  apps/web/src/components/dashboard/SpendingAnomalyCard.tsx
  apps/web/src/components/dashboard/SplitBillWidget.tsx
  apps/web/src/components/dashboard/SubscriptionsWidget.tsx
  apps/web/src/components/dashboard/TotalBalanceWidget.tsx
  apps/web/src/components/dashboard/WidgetFooter.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/index.css
  apps/web/src/main.tsx
  apps/web/src/routes/index.tsx
  apps/web/src/routes/notifications.tsx
  apps/web/tailwind.config.js
Due: lint_web, test_web, build_web

minor: Trigger github actions
  apps/api/drizzle/0009_debt_payment_peer_sync.sql
  apps/api/drizzle/meta/_journal.json
  apps/api/src/db/schema/debts.ts
  apps/api/src/routers/debt.ts
  apps/mobile/app/financial/debts.tsx
  apps/web/src/components/AddDebtPaymentSheet.tsx
  apps/web/src/components/CategoryPieChart.tsx
  apps/web/src/components/SpendingChart.tsx
  apps/web/src/components/dashboard-widget.css
  apps/web/src/components/dashboard/AdaptiveMetricWidget.tsx
  apps/web/src/components/dashboard/AssetAllocationWidget.tsx
  apps/web/src/components/dashboard/CreditWidget.tsx
  apps/web/src/components/dashboard/CurrencyExchangeWidget.tsx
  apps/web/src/components/dashboard/DebtsWidget.tsx
  apps/web/src/components/dashboard/DepositWidget.tsx
  apps/web/src/components/dashboard/InvestmentPerformanceWidget.tsx
  apps/web/src/components/dashboard/InvestmentPortfolioWidget.tsx
  apps/web/src/components/dashboard/MonthlyExpensesWidget.tsx
  apps/web/src/components/dashboard/MonthlyIncomeWidget.tsx
  apps/web/src/components/dashboard/MortgageWidget.tsx
  apps/web/src/components/dashboard/RecentTransactionsWidget.tsx
  apps/web/src/components/dashboard/SpendingAnomalyCard.tsx
  apps/web/src/components/dashboard/SplitBillWidget.tsx
  apps/web/src/components/dashboard/SubscriptionsWidget.tsx
  apps/web/src/components/dashboard/TotalBalanceWidget.tsx
  apps/web/src/components/dashboard/WidgetFooter.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/index.css
  apps/web/src/main.tsx
  apps/web/src/routes/debts.tsx
  apps/web/src/routes/index.tsx
  apps/web/src/routes/notifications.tsx
  apps/web/src/routes/spending.tsx
  apps/web/tailwind.config.js
Due: migrate_database, lint_api, test_api, build_api, lint_web, test_web, build_web

refactor: improve layout and styling of SubscriptionsPage components for better responsiveness
  apps/web/src/routes/subscriptions.tsx
Due: lint_web, test_web, build_web

fix: correct entityId reference in debt router and enhance mock balance structure in tests
  apps/api/src/routers/debt.ts
  apps/api/test/routers/debt.test.ts
Due: lint_api, test_api, build_api

fix: enhance error handling in Redis cache operations and update mock cache keys and TTLs in tests
  apps/api/src/lib/redis.ts
  apps/api/test/setup.ts
Due: lint_api, test_api, build_api

refactor: standardize dashboard widget design by updating border radii, component spacing, and navigation patterns
  apps/web/src/components/CurrencyDisplay.tsx
  apps/web/src/components/NotificationsMenu.tsx
  apps/web/src/components/SpendingChart.tsx
  apps/web/src/components/dashboard/AdaptiveMetricWidget.tsx
  apps/web/src/components/dashboard/AssetAllocationWidget.tsx
  apps/web/src/components/dashboard/CreditWidget.tsx
  apps/web/src/components/dashboard/CurrencyExchangeWidget.tsx
  apps/web/src/components/dashboard/DebtsWidget.tsx
  apps/web/src/components/dashboard/DepositWidget.tsx
  apps/web/src/components/dashboard/InvestmentPerformanceWidget.tsx
  apps/web/src/components/dashboard/InvestmentPortfolioWidget.tsx
  apps/web/src/components/dashboard/MonthlyExpensesWidget.tsx
  apps/web/src/components/dashboard/MonthlyIncomeWidget.tsx
  apps/web/src/components/dashboard/MortgageWidget.tsx
  apps/web/src/components/dashboard/RecentTransactionsWidget.tsx
  apps/web/src/components/dashboard/SpendingAnomalyCard.tsx
  apps/web/src/components/dashboard/SplitBillWidget.tsx
  apps/web/src/components/dashboard/SubscriptionsWidget.tsx
  apps/web/src/components/dashboard/TotalBalanceWidget.tsx
  apps/web/src/components/dashboard/WidgetFooter.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/index.css
  apps/web/src/routes/debts.tsx
  apps/web/src/routes/financial/credits.tsx
  apps/web/src/routes/financial/deposits.tsx
  apps/web/src/routes/index.tsx
  apps/web/src/routes/investing.tsx
  apps/web/src/routes/spending.tsx
  apps/web/src/routes/subscriptions.tsx
  apps/web/tailwind.config.js
Due: lint_web, test_web, build_web

refactor: optimize UI layout, update wallet component dimensions.
  apps/web/src/components/AddDebtSheet.tsx
  apps/web/src/components/dashboard-widget.css
  apps/web/src/routes/accounts.tsx
Due: lint_web, test_web, build_web

refactor: optimize CI pipeline by replacing artifact sharing with turbo caching and granular lint, test, and build stages
  apps/web/src/components/AddBankSheet.tsx
  apps/web/src/components/AddMortgageSheet.tsx
  apps/web/src/components/AddSubscriptionSheet.tsx
  apps/web/src/components/AddTransactionSheet.tsx
  apps/web/src/components/CurrencyDisplay.tsx
  apps/web/src/components/DashboardGrid.tsx
  apps/web/src/components/MortgagePaymentSheet.tsx
  apps/web/src/components/PageHeader.tsx
  apps/web/src/components/ui/action-button.tsx
  apps/web/src/components/ui/date-range-picker.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/index.css
  apps/web/src/main.tsx
  apps/web/src/routes/accounts.tsx
  apps/web/src/routes/debts.tsx
  apps/web/src/routes/financial/credits.tsx
  apps/web/src/routes/financial/deposits.tsx
  apps/web/src/routes/financial/mortgages.tsx
  apps/web/src/routes/index.tsx
  apps/web/src/routes/investing.tsx
  apps/web/src/routes/spending.tsx
  apps/web/src/routes/subscriptions.tsx
Due: lint_web, test_web, build_web
